<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/venice-chan/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
        <add key="Username" value="venice-chan" />
        <add key="ClearTextPassword" value="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" />
    </github>
  </packageSourceCredentials>
</configuration>